.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.heading{
    margin-top: 5rem;
    font-size: 3rem;

}
#input{
    border: none;
    display: flex;
    justify-content: space-around;
    gap :1rem;
    margin-top: 3rem;
}
#datetime{
    padding :1rem;
}
#submit{
    padding: 1rem;
    color : white;
    background: rgb(41,222,217);
    background: radial-gradient(circle, rgba(41,222,217,1) 0%, rgba(68,218,118,1) 100%);
    border: none;
    font-size: large;
}

#display{
    margin-top: 35px;
    padding: 2rem;
    background: rgb(40,157,207);
    background: linear-gradient(13deg, rgba(40,157,207,1) 0%, rgba(7,66,240,1) 100%);
    color: black;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

ul{
    width :100%;
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    gap:1rem;
}

li{
    
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40px;
    background-color: aliceblue;
    color: black;
    padding: 1rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    min-width:55px;
    min-height: 78px;

}
@keyframes slideIn {
    25%{
        transform: translateY(50%);
        transform: translateZ(100%);
    }
    /* 45%{
        transform: translateY(-50%);
        transform: translateZ(-60%);
        scale: -7;
    } */
    50%{
        
    }
    100% {
        transform: translateY(0);
        transform: translateZ(0);
        /* scale :0 */
    }
}

.animate{
    animation: slideIn 3s infinite;
}